.main-chat {
  width: calc(100vw - 300px);
  &__header {
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    &__group {
      .group-name {
        padding: 35px 0px 15px 40px;
        font-size: 20px;
        color: #333333;
      }
      .member-name {
        padding-left: 40px;
        color: #999999;
        font-size: 12px;
      }
    }
    .Edit-btn {
      padding: 28px 60px 32px 0;
      font-size: 16px;
      color: #38aef0;
    }
  }
  .message-box {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px 0;
    &__info {
      display: flex;
      .messageinfo-name {
        font-size: 16px;
        color: #333333;
        font-weight: bold;
      }
      .messageinfo-date {
        font-size: 12px;
        color: #999999;
        padding-left: 10px;
      }
    }
    .message {
      margin-top: 12px;
      .message-content {
        font-size: 14px;
        color: #434a54;
      }
    }
  }
  .form {
    height: 90px;
    background-color:#d2d2d2;
    padding: 20px 40px;
    form {
      display: flex;
      .input-box {
        display: flex;
        width: 100%;
        position: relative;
        &__text {
          height: 50px;
          width: 100%;
          color: #434a54;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        &__image {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 1.3rem;
          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
      }
    }
  }
}
